<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>novoBioma</servlet-name>
        <servlet-class>controller.novoBioma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createBioma</servlet-name>
        <servlet-class>controller.createBioma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarBioma</servlet-name>
        <servlet-class>controller.editarBioma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirBioma</servlet-name>
        <servlet-class>controller.excluirBioma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarBiomas</servlet-name>
        <servlet-class>controller.listarBiomas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateBioma</servlet-name>
        <servlet-class>controller.updateBioma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarAutores</servlet-name>
        <servlet-class>controller.listarAutores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>novoAutor</servlet-name>
        <servlet-class>controller.novoAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createAutor</servlet-name>
        <servlet-class>controller.createAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarAutor</servlet-name>
        <servlet-class>controller.editarAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAutor</servlet-name>
        <servlet-class>controller.updateAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirAutor</servlet-name>
        <servlet-class>controller.excluirAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>novoEspacamento</servlet-name>
        <servlet-class>controller.novoEspacamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createEspacamento</servlet-name>
        <servlet-class>controller.createEspacamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarEspacamento</servlet-name>
        <servlet-class>controller.editarEspacamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateEspacamento</servlet-name>
        <servlet-class>controller.updateEspacamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirEspacamento</servlet-name>
        <servlet-class>controller.excluirEspacamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createFormacao</servlet-name>
        <servlet-class>controller.createFormacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarFormacao</servlet-name>
        <servlet-class>controller.editarFormacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirFormacao</servlet-name>
        <servlet-class>controller.excluirFormacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarFormacoes</servlet-name>
        <servlet-class>controller.listarFormacoes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>novaFormacao</servlet-name>
        <servlet-class>controller.novaFormacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateFormacao</servlet-name>
        <servlet-class>controller.updateFormacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarEspacamentos</servlet-name>
        <servlet-class>controller.listarEspacamentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createTipoDisponibilidade</servlet-name>
        <servlet-class>controller.createTipoDisponibilidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarTipoDisponibilidade</servlet-name>
        <servlet-class>controller.editarTipoDisponibilidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirTipoDisponibilidade</servlet-name>
        <servlet-class>controller.excluirTipoDisponibilidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarTipoDisponibilidade</servlet-name>
        <servlet-class>controller.listarTipoDisponibilidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarTiposDisponibilidade</servlet-name>
        <servlet-class>controller.listarTiposDisponibilidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>novoTipoDisponibilidade</servlet-name>
        <servlet-class>controller.novoTipoDisponibilidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateTipoDispobinilidade</servlet-name>
        <servlet-class>controller.updateTipoDispobinilidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateTipoDisponibilidade</servlet-name>
        <servlet-class>controller.updateTipoDisponibilidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createMetodoQuantificacaoBiomassa</servlet-name>
        <servlet-class>controller.createMetodoQuantificacaoBiomassa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarMetodoQuantificacaoBiomassa</servlet-name>
        <servlet-class>controller.editarMetodoQuantificacaoBiomassa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirMetodoQuantificacaoBiomassa</servlet-name>
        <servlet-class>controller.excluirMetodoQuantificacaoBiomassa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarMetodosQuantificacaoBiomassa</servlet-name>
        <servlet-class>controller.listarMetodosQuantificacaoBiomassa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>novoMetodoQuantificacaoBiomassa</servlet-name>
        <servlet-class>controller.novoMetodoQuantificacaoBiomassa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateMetodoQuantificacaoBiomassa</servlet-name>
        <servlet-class>controller.updateMetodoQuantificacaoBiomassa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createMetodoQuantificacaoCarbono</servlet-name>
        <servlet-class>controller.createMetodoQuantificacaoCarbono</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarMetodoQuantificacaoCarbono</servlet-name>
        <servlet-class>controller.editarMetodoQuantificacaoCarbono</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirMetodoQuantificacaoCarbono</servlet-name>
        <servlet-class>controller.excluirMetodoQuantificacaoCarbono</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarMetodosQuantificacaoCarbono</servlet-name>
        <servlet-class>controller.listarMetodosQuantificacaoCarbono</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>novoMetodoQuantificacaoCarbono</servlet-name>
        <servlet-class>controller.novoMetodoQuantificacaoCarbono</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateMetodoQuantificacaoCarbono</servlet-name>
        <servlet-class>controller.updateMetodoQuantificacaoCarbono</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createVariavel</servlet-name>
        <servlet-class>controller.createVariavel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarVariavel</servlet-name>
        <servlet-class>controller.editarVariavel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirVariavel</servlet-name>
        <servlet-class>controller.excluirVariavel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarVariaveis</servlet-name>
        <servlet-class>controller.listarVariaveis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>novaVariavel</servlet-name>
        <servlet-class>controller.novaVariavel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateVariavel</servlet-name>
        <servlet-class>controller.updateVariavel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createAutorModelo</servlet-name>
        <servlet-class>controller.createAutorModelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarAutorModelo</servlet-name>
        <servlet-class>controller.editarAutorModelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirAutorModelo</servlet-name>
        <servlet-class>controller.excluirAutorModelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarAutoresModelo</servlet-name>
        <servlet-class>controller.listarAutoresModelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>novoAutorModelo</servlet-name>
        <servlet-class>controller.novoAutorModelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAutorModelo</servlet-name>
        <servlet-class>controller.updateAutorModelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createTrabalhoCientifico</servlet-name>
        <servlet-class>controller.createTrabalhoCientifico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarTrabalhoCientifico</servlet-name>
        <servlet-class>controller.editarTrabalhoCientifico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirTrabalhoCientifico</servlet-name>
        <servlet-class>controller.excluirTrabalhoCientifico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarTrabalhosCientificos</servlet-name>
        <servlet-class>controller.listarTrabalhosCientificos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>novoTrabalhoCientifico</servlet-name>
        <servlet-class>controller.novoTrabalhoCientifico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateTrabalhoCientifico</servlet-name>
        <servlet-class>controller.updateTrabalhoCientifico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menu</servlet-name>
        <servlet-class>controller.menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createLocal</servlet-name>
        <servlet-class>controller.createLocal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarLocal</servlet-name>
        <servlet-class>controller.editarLocal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirLocal</servlet-name>
        <servlet-class>controller.excluirLocal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarLocais</servlet-name>
        <servlet-class>controller.listarLocais</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>novoLocal</servlet-name>
        <servlet-class>controller.novoLocal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateLocal</servlet-name>
        <servlet-class>controller.updateLocal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarEquacoes</servlet-name>
        <servlet-class>controller.listarEquacoes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>novaEquacao</servlet-name>
        <servlet-class>controller.novaEquacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createEquacao</servlet-name>
        <servlet-class>controller.createEquacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarEquacao</servlet-name>
        <servlet-class>controller.editarEquacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirEquacao</servlet-name>
        <servlet-class>controller.excluirEquacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateEquacao</servlet-name>
        <servlet-class>controller.updateEquacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createModelo</servlet-name>
        <servlet-class>controller.createModelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarModelo</servlet-name>
        <servlet-class>controller.editarModelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirModelo</servlet-name>
        <servlet-class>controller.excluirModelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarModelos</servlet-name>
        <servlet-class>controller.listarModelos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>novoModelo</servlet-name>
        <servlet-class>controller.novoModelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateModelo</servlet-name>
        <servlet-class>controller.updateModelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarEquacao</servlet-name>
        <servlet-class>controller.listarEquacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>retornaCidades</servlet-name>
        <servlet-class>controller.retornaCidades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>retornaDetalhesTrabalhoCientifico</servlet-name>
        <servlet-class>controller.retornaDetalhesTrabalhoCientifico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>retornaFormacao</servlet-name>
        <servlet-class>controller.retornaFormacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createLocalValoresManual</servlet-name>
        <servlet-class>controller.createLocalValoresManual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateLocalBaixarModeloParcela</servlet-name>
        <servlet-class>controller.createLocalBaixarModeloParcela</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateLocalComArvores</servlet-name>
        <servlet-class>controller.CreateLocalComArvores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createLocalBaixarModeloArvore</servlet-name>
        <servlet-class>controller.createLocalBaixarModeloArvore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createLocalCalcularComParcelas</servlet-name>
        <servlet-class>controller.createLocalCalcularComParcelas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createLocalCalcularComArvores</servlet-name>
        <servlet-class>controller.createLocalCalcularComArvores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarDetalhesCalculoParcelas</servlet-name>
        <servlet-class>controller.listarDetalhesCalculoParcelas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarDetalhesCalculoArvores</servlet-name>
        <servlet-class>controller.listarDetalhesCalculoArvores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listarBiomas</servlet-name>
        <url-pattern>/listarBiomas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarBioma</servlet-name>
        <url-pattern>/editarBioma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>novoBioma</servlet-name>
        <url-pattern>/novoBioma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createBioma</servlet-name>
        <url-pattern>/createBioma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirBioma</servlet-name>
        <url-pattern>/excluirBioma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateBioma</servlet-name>
        <url-pattern>/updateBioma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarAutores</servlet-name>
        <url-pattern>/listarAutores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>novoAutor</servlet-name>
        <url-pattern>/novoAutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createAutor</servlet-name>
        <url-pattern>/createAutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createBioma</servlet-name>
        <url-pattern>/createBioma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarAutor</servlet-name>
        <url-pattern>/editarAutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAutor</servlet-name>
        <url-pattern>/updateAutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirAutor</servlet-name>
        <url-pattern>/excluirAutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createFormacao</servlet-name>
        <url-pattern>/createFormacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarFormacao</servlet-name>
        <url-pattern>/editarFormacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirFormacao</servlet-name>
        <url-pattern>/excluirFormacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarFormacoes</servlet-name>
        <url-pattern>/listarFormacoes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>novaFormacao</servlet-name>
        <url-pattern>/novaFormacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateFormacao</servlet-name>
        <url-pattern>/updateFormacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarEspacamento</servlet-name>
        <url-pattern>/editarEspacamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createEspacamento</servlet-name>
        <url-pattern>/createEspacamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateEspacamento</servlet-name>
        <url-pattern>/updateEspacamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirEspacamento</servlet-name>
        <url-pattern>/excluirEspacamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>novoEspacamento</servlet-name>
        <url-pattern>/novoEspacamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarEspacamentos</servlet-name>
        <url-pattern>/listarEspacamentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createTipoDisponibilidade</servlet-name>
        <url-pattern>/createTipoDisponibilidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarTipoDisponibilidade</servlet-name>
        <url-pattern>/editarTipoDisponibilidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirTipoDisponibilidade</servlet-name>
        <url-pattern>/excluirTipoDisponibilidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarTipoDisponibilidade</servlet-name>
        <url-pattern>/listarTipoDisponibilidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarTiposDisponibilidade</servlet-name>
        <url-pattern>/listarTiposDisponibilidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>novoTipoDisponibilidade</servlet-name>
        <url-pattern>/novoTipoDisponibilidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateTipoDispobinilidade</servlet-name>
        <url-pattern>/updateTipoDispobinilidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateTipoDisponibilidade</servlet-name>
        <url-pattern>/updateTipoDisponibilidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createMetodoQuantificacaoBiomassa</servlet-name>
        <url-pattern>/createMetodoQuantificacaoBiomassa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarMetodoQuantificacaoBiomassa</servlet-name>
        <url-pattern>/editarMetodoQuantificacaoBiomassa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirMetodoQuantificacaoBiomassa</servlet-name>
        <url-pattern>/excluirMetodoQuantificacaoBiomassa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarMetodosQuantificacaoBiomassa</servlet-name>
        <url-pattern>/listarMetodosQuantificacaoBiomassa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>novoMetodoQuantificacaoBiomassa</servlet-name>
        <url-pattern>/novoMetodoQuantificacaoBiomassa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateMetodoQuantificacaoBiomassa</servlet-name>
        <url-pattern>/updateMetodoQuantificacaoBiomassa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createMetodoQuantificacaoCarbono</servlet-name>
        <url-pattern>/createMetodoQuantificacaoCarbono</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarMetodoQuantificacaoCarbono</servlet-name>
        <url-pattern>/editarMetodoQuantificacaoCarbono</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirMetodoQuantificacaoCarbono</servlet-name>
        <url-pattern>/excluirMetodoQuantificacaoCarbono</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarMetodosQuantificacaoCarbono</servlet-name>
        <url-pattern>/listarMetodosQuantificacaoCarbono</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>novoMetodoQuantificacaoCarbono</servlet-name>
        <url-pattern>/novoMetodoQuantificacaoCarbono</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateMetodoQuantificacaoCarbono</servlet-name>
        <url-pattern>/updateMetodoQuantificacaoCarbono</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createVariavel</servlet-name>
        <url-pattern>/createVariavel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarVariavel</servlet-name>
        <url-pattern>/editarVariavel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirVariavel</servlet-name>
        <url-pattern>/excluirVariavel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarVariaveis</servlet-name>
        <url-pattern>/listarVariaveis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>novaVariavel</servlet-name>
        <url-pattern>/novaVariavel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateVariavel</servlet-name>
        <url-pattern>/updateVariavel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createAutorModelo</servlet-name>
        <url-pattern>/createAutorModelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarAutorModelo</servlet-name>
        <url-pattern>/editarAutorModelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirAutorModelo</servlet-name>
        <url-pattern>/excluirAutorModelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarAutoresModelo</servlet-name>
        <url-pattern>/listarAutoresModelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>novoAutorModelo</servlet-name>
        <url-pattern>/novoAutorModelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAutorModelo</servlet-name>
        <url-pattern>/updateAutorModelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createTrabalhoCientifico</servlet-name>
        <url-pattern>/createTrabalhoCientifico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarTrabalhoCientifico</servlet-name>
        <url-pattern>/editarTrabalhoCientifico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirTrabalhoCientifico</servlet-name>
        <url-pattern>/excluirTrabalhoCientifico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarTrabalhosCientificos</servlet-name>
        <url-pattern>/listarTrabalhosCientificos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>novoTrabalhoCientifico</servlet-name>
        <url-pattern>/novoTrabalhoCientifico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateTrabalhoCientifico</servlet-name>
        <url-pattern>/updateTrabalhoCientifico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menu</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createLocal</servlet-name>
        <url-pattern>/createLocal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarLocal</servlet-name>
        <url-pattern>/editarLocal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirLocal</servlet-name>
        <url-pattern>/excluirLocal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarLocais</servlet-name>
        <url-pattern>/listarLocais</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>novoLocal</servlet-name>
        <url-pattern>/novoLocal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateLocal</servlet-name>
        <url-pattern>/updateLocal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarEquacoes</servlet-name>
        <url-pattern>/listarEquacoes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>novaEquacao</servlet-name>
        <url-pattern>/novaEquacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createEquacao</servlet-name>
        <url-pattern>/createEquacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarEquacao</servlet-name>
        <url-pattern>/editarEquacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirEquacao</servlet-name>
        <url-pattern>/excluirEquacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateEquacao</servlet-name>
        <url-pattern>/updateEquacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createModelo</servlet-name>
        <url-pattern>/createModelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarModelo</servlet-name>
        <url-pattern>/editarModelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirModelo</servlet-name>
        <url-pattern>/excluirModelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarModelos</servlet-name>
        <url-pattern>/listarModelos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>novoModelo</servlet-name>
        <url-pattern>/novoModelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateModelo</servlet-name>
        <url-pattern>/updateModelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarEquacao</servlet-name>
        <url-pattern>/listarEquacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>retornaCidades</servlet-name>
        <url-pattern>/retornaCidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>retornaDetalhesTrabalhoCientifico</servlet-name>
        <url-pattern>/retornaDetalhesTrabalhoCientifico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>retornaFormacao</servlet-name>
        <url-pattern>/retornaFormacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createLocalValoresManual</servlet-name>
        <url-pattern>/createLocalValoresManual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateLocalBaixarModeloParcela</servlet-name>
        <url-pattern>/CreateLocalBaixarModeloParcela</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateLocalComArvores</servlet-name>
        <url-pattern>/CreateLocalComArvores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createLocalBaixarModeloArvore</servlet-name>
        <url-pattern>/createLocalBaixarModeloArvore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createLocalCalcularComParcelas</servlet-name>
        <url-pattern>/createLocalCalcularComParcelas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createLocalCalcularComArvores</servlet-name>
        <url-pattern>/createLocalCalcularComArvores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarDetalhesCalculoParcelas</servlet-name>
        <url-pattern>/listarDetalhesCalculoParcelas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarDetalhesCalculoArvores</servlet-name>
        <url-pattern>/listarDetalhesCalculoArvores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>